$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
  background: #ffffff;//rgba(0,110,0,0.5);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #001100;
}
#container{
@include make-row();
}
/*   top menu   */

#mainOpen{
  @include make-lg-column(2);
}
#mainDebug{

  @include make-lg-column(2);
}
#mainDisassemble{
  @include make-lg-column(2);
}
#debugMenu,#menuPanel,#status{
  @include make-row();

}

#fileItem{
  @include make-lg-column(5);
}

#controls{
  @include make-lg-column(2);
}

#commandItem{
  @include make-lg-column(3);
}

#views{
  @include make-lg-column(2);
}

/*   /top menu  */

.sectionS,.sectionView{
  @include make-row();
}

// hex dump

.hexDumpAddress{

  @include make-md-column(3);
}
.hexDumpHex{

  @include make-md-column(6);
}
.hexDumpStrDump{
  @include make-md-column(3);
}
.hexDumpLine{
  @include make-row();
}
//
 
/*   disassembly view  */
#dissasembly_wraper{
  @include make-row();
}
.menu{
  @include make-md-column(2);
}
#contentdump{

  @include make-md-column(10);
}
.category{
  @include make-row();
}
#D{
  padding:30px;
}
.secSymbol{
  @include make-row();
}
.secInst{
  @include make-row();
}
.secAddr{
  @include make-md-column(1);
}
.secRaw{
  @include make-md-column(2);
}
.secOp{
  @include make-md-column(3);
}
.secCom{
  @include make-md-column(6);
}
.visible{
  display:inline;
}
.hidden{
  display:none;
}

#dwindow{
  visibility:hidden;
}
.whandle{
  width:100%;
  height:20px;
  position:'absolute';
  top:0px;
  left:0px;
  background:rgba(0,220,0,0.9);
}
/*   /disassembly view */

/* scripting */
@mixin milkySprite($n){
  $iconsInRow:8;
  $width:48px;
  $height:48px;
  $offsetX:0px;
  $offsetY:0px;
  background:url(Milky-02.png) ($n/$iconsInRow)*$width+$offsetX ($n%$iconsInRow)*$height+$offsetY;
}
@mixin milky($n){
  float:left;
  @extend .sprite;
  @extend .milky-sprite;
  @extend .milky-a#{$n};
}
#scriptingPanel{
  display:inline-block;
  height:200px;
  left:0px;
  top:50%;
  position:fixed;
}
.sprite{
  width:64px;
  height:64px;
}
.controlScripts{
  position:absolute;
  
}
.sMenu{
  font-size:32px;
  width:64px*5;
  height:32px;
}

.sMenu div{

  float:left;
}
.sm_save{

}
.sm_play{

}
.sm_stepOv{

}
.sm_stepInto{

}
.sm_discard{
}
#newScript, #scriptList{
  font-size:32px;
  //@include milky(95)
}
.scriptPanelWraper{
  position:fixed;
  padding-top:30px;
  background:rgba(0,0,255,0.1);
  display:inline-block;
}

.scriptOutput{

  float:left;
  width:64px*5;
  height:500px;
}
.scriptEditor{
  float:left;
  z-index:1000;
  width:64px*5;
  height:500px;
}

/* /scripting*/
 
/*   debug view      */

#wrapermain{
  @include make-row();
  @include make-md-column(12);
}
.breakpoint{
  background: rgba(220,00,00,0.3);
}
#disassembly{
  @include make-md-column(9);
}
.lineNumber{
  @include make-md-column(2);
}
.srcCode{
  @include make-md-column(10);
}
.blank{
  @include make-md-column(12);
}
#registers{
  @include make-md-column(3);
  /*
    //width: 600px;
    font:Console;
    font-color:#002300;
    font-size: 13px;
    font-weight: 200;
    //line-height: 30px;
    background-color: rgba(0,220,110,0.07);
    border-radius: 6px;
    padding: 0px;
*/
}
#commandResult{
  @include make-md-column(3);
}

#registers li:nth-child(16)
{
  background:rgba(192, 57, 43,0.09); 
} 

.hero-unit {
  @include make-md-column(9);
  /*
    margin: auto 0 auto;
    //width: 600px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    //background-color: rgba(0,220,30,0.07);
    border-radius: 6px;
    padding: 0px;
    */
}
.inst_selected{
  background-color: rgba(110,110,0,0.07);
}
.inst_row{
  @include make-row();
}
.inst_addr{
  @include make-md-column(2);
}
.inst_raw{
  @include make-md-column(2);
}
.inst_opcode{
  @include make-md-column(2);
}
.inst_operands{
  @include make-md-column(3);
}
.inst_comment{
  @include make-md-column(3);
  color: #00AA00;
}
.reg_row{
@include make-row();
}
.reg_name{
@include make-md-column(2);
}
.reg_value1{
@include make-md-column(5);
}
.reg_value2{
@include make-md-column(5);
}
#registers .reg_row:nth-child(odd),.secInst:nth-child(odd),.hero-unit .inst_row:nth-child(odd) {
background: rgba(220,220,220,0.35);
}

.inst_row_current{
@include make-row();
background: rgba(0,0,220,0.33);
}
.sectionS div{
 @include make-md-column(3);
}

/*   /debug view     */

/*   graph view      */
#holder,.sectionP,.sectionS,.sectionView {
  @include make-row();
}
/*    /graph view     */

/* linkify  */
a {
    text-decoration: none;
    color: hsl(206, 80%, 50%);
}

.roll {
    display: inline-block;
    overflow: hidden;

    vertical-align: top;

    -webkit-perspective: 400px;
       -moz-perspective: 400px;

    -webkit-perspective-origin: 50% 50%;
       -moz-perspective-origin: 50% 50%;
}
.roll span {
    display: block;
    position: relative;
    padding: 0 2px;

    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
    
    -webkit-transform-origin: 50% 0%;
       -moz-transform-origin: 50% 0%;
    
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
}
.roll:hover span {
        background: #111;

        -webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
           -moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
    }
.roll span:after {
    content: attr(data-title);

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 2px;

    color: #fff;
    background: hsl(206, 80%, 30%);

    -webkit-transform-origin: 50% 0%;
       -moz-transform-origin: 50% 0%;

    -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
       -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}
/*  /linkify  */
