<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="bower_components/stroll/css/stroll.css">

        <link rel="stylesheet" href="bower_components/ionicons/css/ionicons.css">
        <link rel="stylesheet" href="bower_components/jqueryuicss/index.css">
        <!-- endbuild -->
</head>
  <body ng-app="ldApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
 <div id="debugMenu" ng-controller="MainCtrl">
   <div id="status" >
     <div >
       status: {{data.status}} 
     </div>
     
   </div>  

   <div id="menuPanel">
      
     <div id="fileItem">
       <label for="name">name</label>
       <INPUT type="TEXT" ng-model="configState.file" name="name" value="" id="name">
       <label for="architectre">architecture</label>
       <select name="architecture" ng-model="architecture" >
         <option value="arm elf">arm elf</option>
         <option value="x86 elf">x86 elf</option>
         <option value="pe" disabled >pe</option>
       </select>
       <a href="#/disas" ng-click="commandDissasemble()">disassemble</a>|

       <a ng-click="commandLoad()">load file</a>|
       <a ng-click="commandStart('gdb-multiarch '+$scope.configState.file)">start debugging</a>|
       <a ng-click="commandStartVM()">switch to vm</a>|
       <a ng-click="stop()">stop</a>
       <a ng-click="recToggle()">{{recording?'stop rec':'start rec'}}</a>
     </div>
     <div id="controls">
       <a ng-click="cont()">run </a> 
       
       <a  ng-click="stepOver()">step over</a> 
       <a ng-click="stepInto()">step into</a> 
    
     </div>
     <div id="views">
       views:
       <a  href="#/">debug</a>
       <a  href="#/disas">disassembly</a>
       <button onclick="TogetherJS(this); return false;">Start TogetherJS</button>
     <!--  
           <a    href="#/ch">graph</a>
           -->

     </div>

 
     <div id="commandItem">
       <INPUT type="TEXT" ng-model="command"/>
       <a ng-click="commandExecL(command,'commandResult')">send command  </a>
      
     </div>
   </div>
 </div>

 <div id="container" ng-view="">
    

    
    
 </div>

<div id="scriptingPanel" ng-controller="scriptsController">
  <div id="newScript" class="ion-document" ng-click="newScript()"></div>
  <div id="scriptList" class="ion-navicon-round" ng-click="toggleScriptSearch()" ></div>
  <div ng-show="scriptSearch">
    <input type="text" name="scriptName" value="" ng-model="scriptName">
    <span ng-repeat="script in scriptsList track by $index">
      <div class="scriptName">
        {{script.scriptName}}
      </div> 
      <div class="scriptDescription">
        {{script.scriptDescription}}
      </div>
    </span>
  </div>
  <span ng-repeat="w in bWindows track by $index">
    <beditor >  </beditor>
  </span>
</div>
</body>
<template id="commandWindT">
  <div >
    <div>commandPanel</div>
    <div>
      <input type="text" size="10" ng-model="command">
      <a ng-click="sendCommand(command)">sendCommand</a>&nbsp<a ng-click="clone()">new</a>&nbsp<a ng-click="destroy()">X</a>
    </div>
    <div ng-repeat="thing in things track by $index">{{thing}}</div>
  </div>
</template>
<template id="newScriptWT">
  <div class="scriptPanelWraper" draggable >
    <div class="sMenu">

      <div class="sm_save icon-ios7-download"></div>
      <div class="sm_play icon-play"></div>
      <div class="sm_stepOv icon-arrow-down-c" ng-click="stepOver()"></div>
      <div class="sm_stepInto icon-arrow-graph-down-right"></div>
      <div class="sm_discard icon-ios7-trash"></div>
    </div>
    <div class="scriptEditor" >
    </div>
    <div class="scriptOutput"></div>
  </div>

</template>
       <script src="bower_components/jquery/jquery.js"></script>
       <script src="http://localhost:8070/socket.io/socket.io.js"></script>
   
        <script src="bower_components/stroll/js/stroll.js"></script>
        <script src="bower_components/raphael/raphael.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/requirejs/require.js"></script>
        <script src="bower_components/d3/d3.js"></script>

        <!--
        <script src="bacon.js/dist/Bacon.js"></script>
        -->
        <script src="../flight.js"></script>

        <script type="text/javascript">

         var TogetherJSConfig_includeHashInUrl=true;
        </script>
        <script src="static-myapp/togetherjs.js"></script>

        <script src="bower_components/jqueryui/index.js"></script>
        <script src="bower_components/angular/angular.js"></script>
             <!-- build:js scripts/plugins.js -->

        <script src="bower_components/bootstrap-sass/js/affix.js"></script>
        <script src="bower_components/bootstrap-sass/js/alert.js"></script>
        <script src="bower_components/bootstrap-sass/js/dropdown.js"></script>
        <script src="bower_components/bootstrap-sass/js/tooltip.js"></script>
        <script src="bower_components/bootstrap-sass/js/modal.js"></script>
        <script src="bower_components/bootstrap-sass/js/transition.js"></script>
        <script src="bower_components/bootstrap-sass/js/button.js"></script>
        <script src="bower_components/bootstrap-sass/js/popover.js"></script>
        <script src="bower_components/bootstrap-sass/js/carousel.js"></script>
        <script src="bower_components/bootstrap-sass/js/scrollspy.js"></script>
        <script src="bower_components/bootstrap-sass/js/tab.js"></script>
                       <!-- endbuild -->

                       <!-- build:js scripts/modules.js -->
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
                       <!-- endbuild -->
             <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/mainMenuController.js"></script>
        <script src="scripts/configState.js"></script>
        <script src="scripts/state.js"></script>

        <script src="scripts/controllers/scriptsController.js"></script>
        <script src="scripts/controllers/Ch.js"></script>
        <script src="scripts/controllers/debugController.js"></script>
        <script src="scripts/controllers/data.js"></script>
        <script src="scripts/directives/customDirectives.js"></script>
        <script src="scripts/controllers/disassemblyController.js"></script>
        <script src="scripts/controllers/chD.js"></script>
        <script src="scripts/controllers/command.js"></script>

        <script src="scripts/controllers/DataDisassemblyParsers.js"></script>
        <script src="scripts/controllers/DataDebug.js"></script>
        <script src="scripts/controllers/DataDisassembly.js"></script>

         <!-- endbuild -->
         <!-- livereload script -->
         
         <script type="text/javascript">document.write('<script src="http://'
           + (location.host || 'localhost').split(':')[0]
           + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')
        </script>
</html>
