<div id="dissasembly_wraper" ng-show="selected!=='none'">

  <div id="name" class="menu">

    <div id="headers" class="category">
      <div class="categoryName" ng-click='visibilityHeaders=((visibilityHeaders==="visible"|| visibilityHeaders==undefined)?"hidden":"visible")' ng-init='visibilityHeaders="hidden"'>
        headers
      </div>
      <div id="headersCont" class="{{visibilityHeaders}}">


        <div ng-repeat="header in data.disassemblyData.sectionHeaders" class="menuItem">
          <a ng-click="scrollToHeader(header)" >{{header.name}}</a>
        </div>
      </div>

    </div>
    <div id="sections" class="category">
      <div class="categoryName" ng-click='visibilitySect=((visibilitySect==="visible"|| visibilitySect==undefined)?"hidden":"visible")' ng-init='visibilitySect="hidden"'>
        sections
      </div>
      <div id="sectionCont" class="{{visibilitySect}}">


        <div ng-repeat="section in data.disassemblyData.sectionData" class="menuItem">
          <a ng-click="scrollToSection(section)">{{section.sectionName}}</a>
        </div>
      </div>
    </div>
    <div id="relocati" class="category">
      <div class="categoryName">
        relocations
      </div>

    </div>

  </div>
  <div id="contentdump">
    <div ng-switch="selected">
        <div ng-switch-when="section">
            <div class="secSymbol" ng-repeat="symbol in selectedSection.sectionContent">
                <div class="secSymbolName">
                  {{symName}}
                </div>
                <div class="secInst" ng-repeat="instr in symbol.symContent">
                    <div class="secAddr">
                      {{instr.address}}
                    </div>
                    <div class="secRaw">
                      {{instr.memraw}}
                    </div>
                    <div class="secOp">
                      {{instr.op}}
                    </div>
                    <div class="secCom">
                      {{instr.comments}}
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-when="header">
          <div id="holder">

          </div>
          <div id="sectionContainer">
              <div class="sectionP" id = "{{section.sectionName}}" ng-repeat="section in data.disassemblyData.sectionData">
                <div class='sectionS'>
                  <div >

                   {{section.sectionName}}
                  </div>
                   <div ng-click="disasView(section)" >
                       disassembly view
                   </div>
                   <div  ng-click="hexView(section)" >
                       hex view
                   </div>
                   <div ng-click="graphView(section,$index)">
                       graph view
                   </div>

                </div>
                <div class="sectionView" ng-switch="section.view">
                  <div id="graphViewPlace{{$index}}" ng-switch-when="G">

                  </div>
                  <div class="disasViewPlace" ng-switch-when="D">


                    <div class="secSymbol" ng-repeat="symbol in section.sectionContent">
                      <div class="secSymbolName">
                        {{symName}}
                      </div>
                      <div class="secInst" ng-repeat="instr in symbol.symContent">
                        <div class="secAddr">
                          {{instr.address}}
                        </div>
                        <div class="secRaw">
                          {{instr.memraw}}
                        </div>
                        <div class="secOp">
                          {{instr.op}}
                        </div>
                        <div class="secCom">
                          {{instr.comments}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="hexViewPlace" ng-switch-when="H">
                    <div class="hexDumpLine" ng-repeat="line in section.hexDump">
                      <div class="hexDumpAddress">
                        {{line.address}}

                      </div>
                      <div class="hexDumpHex">
                        {{line.hex}}

                      </div>

                      <div class="hexDumpStrDump">
                        {{line.stringDump}}

                      </div>
                    </div>

                  </div>
                  <div  ng-switch-when="hidden">

                  </div>




                </div>

              </div>

          </div>
        <!--
          <div id="dwindow">
            <div class="whandle">

            </div>

            <div id="hld" ng-switch="hldView">
                <div id="hldd" ng-switch-when="G">

                </div>
                <div id="D" ng-switch-when="D">


                  <div class="secSymbol" ng-repeat="symbol in selectedSection.sectionContent">
                    <div class="secSymbolName">
                      {{symName}}
                    </div>
                    <div class="secInst" ng-repeat="instr in symbol.symContent">
                      <div class="secAddr">
                        {{instr.address}}
                      </div>
                      <div class="secRaw">
                        {{instr.memraw}}
                      </div>
                      <div class="secOp">
                        {{instr.op}}
                      </div>
                      <div class="secCom">
                        {{instr.comments}}
                      </div>
                    </div>
                  </div>

                </div>
            </div>
          </div>
-->

        </div>
    </div>
  </div>

</div>
