<div id="wrapermain">
    
  <div id="disassembly" draggable resizable>

    <div ng-switch="thing.type" class="{{thing.current?'inst_row_current':'inst_row'}}" ng-repeat="thing in data.debugData.disassembly">

          <div ng-switch-when="instruction" class="inst_addr {{thing.hasBreakpoint?'breakpoint':'' }}" ng-click="toggleBreakpoint(thing.address,thing)">
           <span> 
           {{thing.address}} {{thing.addressr}}
           </span>
          </div>

          <div  ng-switch-when="instruction" class="inst_raw">

           <span> 
            {{thing.memraw}}

           </span> 
          </div>
       
          <div  ng-switch-when="instruction" class="inst_opcode">

           <span> 
            {{thing.opcode}}

           </span> 
          </div>
  
          <div  ng-switch-when="instruction" class="inst_operands">

           <span> 
            {{thing.operands}} {{thing.symbolOperands}}

           </span> 
          </div>

          <div  ng-switch-when="instruction" class="inst_comment">

           <span> 
            {{thing.comment}}

           </span> 
          </div>

          <div ng-switch-when="src" class="lineNumber">

           <span> 
            {{thing.lineNumber}}

           </span> 
          </div>

          <div ng-switch-when="src" class="srcCode">

           <span> 
            {{thing.code}}

           </span> 
          </div>

          <div ng-switch-when="blank" class="blankRow">
          </div>

    </div>
  </div>
   <!--
   <p ng-bind="command">instlλaslaled.</p>
   
    <h3>  </h3>
    -->
  <div id="registers" draggable resizable>
    <div class="reg_row" ng-repeat="register in data.debugData.registers">
        <div class="reg_name">
          {{register.name}}
        </div>
        <div class="reg_value1">
          {{register.value1}}
        </div>
        <div class="reg_value2">
          {{register.value2}}
        </div>

    </div>
  </div>
  <div commandWind draggable resizable ></div>
  <div id="commandResult" draggable resizable>
      <div id="crrow" ng-repeat="row in data.debugData.commandResult">
        {{row}}
      </div>
  </div>

</div>
