<div id="wrapermain">
    
  <div id="dissasembly" class="hero-unit">

    <div class="{{thing.current?'inst_row_current':'inst_row'}}" ng-repeat="thing in sharedData.disasArr">
        <div class="inst_addr">
          {{thing.address}}
        </div>
        
        <div class="inst_opcode">
          {{thing.opcode}}
        </div>
  
        <div class="inst_operands">
          {{thing.operands}}
        </div>


        <div class="inst_comment">
          {{thing.comment}}
        </div>


    </div>
   </div>
   <!--
   <p ng-bind="command">instlλaslaled.</p>
   
    <h3>  </h3>
    -->
  <div id="registers">
    <div class="reg_row" ng-repeat="register in sharedData.registers">
        <div class="reg_name">
          {{register.name}}
        </div>
        <div class="reg_value1">
          {{register.value1}}
        </div>
        <div class="reg_value2">
          {{register.value2}}
        </div>

    </div>
  </div>
  <div id="commandResult">
      <div id="crrow" ng-repeat="row in sharedData.commandResult">
        {{row}}
      </div>
  </div>

</div>
